@model BoatRental.Domain.Models.Booking
@{
    ViewBag.Title = "Boka båt";
}

<h2>Tillgänglig båt</h2>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Namn</th>
                        <th scope="col">Pris(h)</th>
                        <th scope="col">Kategori</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">@Model.Boat.Id</th>
                        <td>@Model.Boat.Name</td>
                        <td>@Model.Boat.PricePerHour</td>
                        <td>@Model.Boat.Category.ToString()</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@using (Html.BeginForm("BookBoat", "Booking", FormMethod.Post))
{


<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.BoatId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BoatId, new { htmlAttributes = new { @class = "form-control", @readonly= "readonly" } })
            @Html.ValidationMessageFor(model => model.BoatId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstimatedHours, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EstimatedHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EstimatedHours, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustmerSSN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustmerSSN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustmerSSN, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-9 col-md-10">
            <input type="submit" value="Boka" class="btn btn-primary" />
        </div>
    </div>
</div>
}